.sort-by-name-filter {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.monitors {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;

  .monitor {
    display: flex;
    flex-direction: column;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    overflow: hidden;
    margin: 12px;
    &.selected {
      background: #5cbcb026;
    }
    &.disconnected {
      .header {
        background: #d2d2d2;
      }
    }
    .header {
      color: white;
      background: #5cbcb0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px 4px 0 0;
      position: relative;
      width: calc(100% + 2px);
      left: -1px;
      top: -1px;
    }

    .body {
      padding: 6px;
      .native-resolution {
        margin-bottom: 20px;
      }
      .size {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}
