<div class="sort-by-name-filter">
  <input [(ngModel)]="filterByName" type="text" placeholder="Enter string to filter">
</div>
<div class="monitors">
  <div 
    class="monitor"
    (click)="setActiveMonitor(monitor.Name)" 
    [class.disconnected]="!monitor.status" 
    [class.selected]="monitor.Name === monitorName" 
    *ngFor="let monitor of monitors | monitorFilter: filterByName;"
  >
    <div class="header">
      <div class="name">{{monitor.Name}}</div>
    </div>
    <div class="body">
      <div class="native-resolution">{{monitor.NativeResolution}}</div>
      <div class="size">{{monitor.Size}}</div>
    </div>
  </div>
</div>